{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
   <div class="center jumbotron">
       <div class="text-center">
           <h1>Welcome to Necostagram</h1>
           <h5>for all cat lovers <i class="fas fa-paw"></i></h5>
           <br>
           <p><a class="btn btn-outline-secondary btn-sm"
                href="{% url 'accounts:regist' %}"
                role="button">Sign in Meow!</a></p>
            <p><a class="btn btn-outline-secondary btn-sm"
            href="{% url 'accounts:login' %}"
                role="button">Login Meow!</a></p>
        </div>
   </div>
{% endblock %}