{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
<body>
    <main role="main">
        <div class="container">
            <div class="row">
                <!--プロフィール部分-->
                <div class="col-sm-4">
                    <header>
                        <div>
                            <!-- {# ユーザーがプロフィール画像を持っている場合#} -->
                            {% if user.avatar %}
                                <img class="rounded img-fluid mx-auto d-block" style="width:auto; height: auto;" 
                                src="https://res.cloudinary.com/hy1khlpxs/image/upload/c_fill,h_300,w_300/v1/{{ user.avatar.name }}" 
                                id="avatar-image" alt="avatar_image">
                                {# ユーザーがプロフィール画像を持っている場合はデフォルト画像を表示#}
                            {% else %}
                                <img class="rounded img-fluid mx-auto d-block"
                                src="{% static 'images/avator_default.png' %}" id="avatar-image" alt="avatar-image">
                            {% endif %}
                        </div>
                    </header>
                </div>
                <br>
                <div class="col-sm-4">
                    <section>
                        <div class=""><h3>{{ user.get_username }}</h3></div>
                        <div><a class="btn btn-outline-secondary btn-sm"
                            href="{% url 'accounts:edit_profile' %}" role="button">Edit Profile</a></div>
                    </section>
                    <br>
                    <div>
                        <h7>{{ user.profile }}</h7> 
                    </div>
                    <br>
                    <div class="container">
                        <div class="row text-center">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="nav-item"><a href="{% url 'myposts:myposts' %}" class="nav-link active">
                                        {#  object_listのlengthを取得することで投稿数をカウントできる。#}
                                        <span style="font-weight: bold;">{{ my_posts_count }}</span><br>Posts</a></li>
                                    {# ここから、リンク設定とBadgeの設定を変更 #}
                                    <li class="nav-item"><a href="{% url 'myposts:following' %}" class="nav-link">
                                        {#  フォロワー数を表示#}
                                        <span style="font-weight: bold;">{{ following_count }}</span><br>Following</a></li>
                                    <li class="nav-item"><a href="{% url 'myposts:follower' %}" class="nav-link">
                                        {#  フォロワー数を表示#}
                                        <span style="font-weight: bold;">{{ follower_count }}</span><br>Followers</a></li>
                                </ul>
                        </div>
                    </div>
            </div>
        </div>
        </div>

        <!-- ここからpostlist表示部分 -->
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for item in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ item.photo.url }}" alt="Card image cap">
                            <div class="card-body">
                                <!-- ここからイイねの表示部分-->
                                <p style="text-align: left; float: left;">
                                    {% if item in favourite_list %}
                                    <form action="{% url 'myposts:rm_favourite' pk=item.pk %}" method="post">
                                        <button type="submit" class="btn btn-link" name="button">
                                        <i class="fas fa-paw"></i></button>
                                        {% csrf_token %}
                                    </form>
                                    {% else %}
                                    {#  object_listの要素をitemとして取り出しているので、item.pkでpk取得#}
                                    <form action="{% url 'myposts:add_favourite' pk=item.pk %}" method="post">
                                        <button type="submit" class="btn btn-link" name="button">
                                        <i class="fa fa-paw" style="color: gray;"></i></button>
                                        {% csrf_token %}
                                    </form>
                                    {% endif %}
                                </p>
                                <!-- <p><i class="fa fa-comment"></i></p> -->
                                <!-- ここまでイイねの表示部分-->
                                <p class="card-text">{{ item.owner }} : {{ item.comment }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'myposts:update' item.pk %}" role="button">Update</a>
                                        <a class="btn btn-sm btn-outline-danger" href="{% url 'myposts:delete' item.pk %}" role="button">Delete</a>
                                    </div>
                                </div>
                                <p style="text-align: left;"><small class="text-muted">{{ item.pub_date }}</small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {#   django-bootstrap4のページネーション#}
                {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
            </div>
        </div>
    </main>
</body>
{% endblock %}