#avatar-thumbnail {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #eee;
 }

 #avatar-image {
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #eee;
}

#post-thumbnail {
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 20%;
	border: 1px solid #eee;
 }

 #avatar {
	float: left;
	height: 28px;
	width: 28px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid #eee;
	padding-right: 5px;
 }
